<div class="page-advantage">
  <div class="page-title">
    <div class="title">服务优势</div>
    <div class="title-line"></div>
    <div class="tips">这也许是您即将选择我们的理由</div>
  </div>
  <div class="s">
    <div class="swiper-container page-advantage-loop">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="data">
            <dl>
              <dt><span>个性定制<em></em></span></dt>
              <dd class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/ly-dz.png"/></dd>
              <dd class="des">您的想法加上我们的专业技术及服务能力产出您想想要的产品,绝非生搬硬套式。</dd>
            </dl>
          </div>
          <div class="data">
            <dl>
              <dt><span>开发规范<em></em></span></dt>
              <dd class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/ly-gf.png"/></dd>
              <dd class="des">采用SVN/GIT等工具进行代码版本控制可以溯源代码历史，技术文档更加规范。</dd>
            </dl>
          </div>
          <div class="data">
            <dl>
              <dt><span>极速响应<em></em></span></dt>
              <dd class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/ly-js.png"/></dd>
              <dd class="des">不管项目开发中，还是售后维护阶段；工程师快速响应，紧急问题下班照常响应。</dd>
            </dl>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="data">
            <dl>
              <dt><span>安全稳定<em></em></span></dt>
              <dd class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/ly-aq.png"/></dd>
              <dd class="des">实时监测服务器集群运行状态、资源占用率；程序自动进行数据库数据备份。</dd>
            </dl>
          </div>
          <div class="data">
            <dl>
              <dt><span>完整交付<em></em></span></dt>
              <dd class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/ly-jf.png"/></dd>
              <dd class="des">域名/空间/备案等账号、源代码、技术文档等所有的输出物全部交付给甲方。</dd>
            </dl>
          </div>
          <div class="data">
            <dl>
              <dt><span>完善售后<em></em></span></dt>
              <dd class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/ly-sh.png"/></dd>
              <dd class="des">不少于一年售后服务期，含故障修复、备案、备份、安全防护、问题咨询等。</dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<div class="page-case">
  <div class="page-title">
    <div class="title">典型案例</div>
    <div class="title-line"></div>
    <div class="tips">这是过去我们跟合作伙伴的故事</div>
  </div>
  <div class="s">
    <div class="swiper-container page-case-loop">
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="m "><img src="{eyou:global name='web_templets_m' /}/skin/images/rednet.png" width="568" height="480"/></div>
          <h6>湖南红网新媒体集团</h6>
          <div class="info">
            <p class="des">本直播系统为图文直播+网友互动系统，红网有一个时刻新闻app，网页版也包含图文直播系统，但之前的系统不包含网友互动功能，仅活动发起者单个的在那发布信息，这样互动度不够。因此，在红网论坛添加一个图片直播系统、并且带用户互动功能。</p>
            <p class="tips">本项目的主要难点是红网千万级甚至更大数据量情况下的性能问题，以及无缝对接主系统的的各个环节，比如主系统内容审核分了三级审核机制，同时还需要保障系统稳定性（顺利通过高考直播考验）。</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="m "><img src="{eyou:global name='web_templets_m' /}/skin/images/zszc.png" width="568" height="480"/></div>
          <h6>长沙至上汽车租赁有限公司</h6>
          <div class="info">
            <p class="des">本项目为至上租车公司PC端官网，包括自驾租车和代驾租车信息浏览及预约、企业租车申请及预约、公司业务介绍等，同时打通网站与手机短信，用户填写预约信息后管理员的手机能够实时获取一条通知信息，可以马上联系预约客户，运营管理根本不需要坐在电脑前</p>
            <p class="tips">本项目的是企业官方网站，只是在展示及营销基础上，增加了在线预约功能，我们针对性的对UI设计、界面编写、用户体验上进行优化，比如实时的通知功能帮助客户节省大量的管理时间，同时让网站用户体验更好，转化率提高50%以上。</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="m "><img src="{eyou:global name='web_templets_m' /}/skin/images/gfkd.png" width="568" height="480"/></div>
          <h6>国防科学技术大学</h6>
          <div class="info">
            <p class="des">本项目为国防科学技术大学科研部网站，分多期完成，后续还会有新的功能模块出现；目前主要包含门户网站、作品发布、师生交流论坛、活动创建、活动报名、活动投票、论文及作品评审系统等，整个系统运行在军网内网中，采用mtn域名。</p>
            <p class="tips">本项目一个非常重要的要求就是要保障系统的稳定性和安全性，军队院校对信息保密是有非常高的要求的，电脑等设备都不允许与互联网通信；如果稳定性不够好，不管多小的问题都必须去现场进行修复；在线评审系统大大提高校方工作效率。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="go-case">{eyou:type typeid='5'} <a href="{$field.typeurl}" class="more btn-a"><em></em><span>查看更多案例</span></a>{/eyou:type} </div>
  </div>
</div>
<script src="{eyou:global name='web_templets_m' /}/skin/js/swiper.min.js"></script> 
<script>
var swiper = new Swiper('.page-advantage-loop', {
  slidesPerView: 1,
  loop: true,
  pagination: {
	el: '.swiper-pagination',
	clickable: true,
  },
});
	
var swiper = new Swiper('.page-service-loop', {
  slidesPerView: 1,
  loop: true,
  pagination: {
	el: '.swiper-pagination',
	clickable: true,
  },
});
	
var title=["\u7ea2\u7f51\u56fe\u6587\u76f4\u64ad","\u81f3\u4e0a\u79df\u8f66","\u56fd\u9632\u79d1\u5b66\u6280\u672f\u5927\u5b66"];
var swiper = new Swiper('.page-case-loop', {
  slidesPerView: 1,
  loop: true,
  pagination: {
	el: '.swiper-pagination',
	clickable: true,
	renderBullet: function (index, className) {
	  return '<span class="' + className + '">' + title[index] + '</span>';
	},
  },	
});
</script>
<div class="page-contact">
  <div class="wp">
    <div class="s">
      <div class="your-ask">
        <h6>我猜您现在可能存在如下疑问：</h6>
        <ul class="cl">
          <li>你们能做什么？</li>
          <li>需要多少钱？</li>
          <li>需要多久？</li>
          <li>我需要做什么?</li>
          <li>需要提供什么资料？</li>
          <li>售后服务怎么样？</li>
        </ul>
      </div>
      <div class="info-box"> {eyou:guestbookform type='default' typeid="33"}
        <form class="info-form" action="{$field.action}" enctype="multipart/form-data" method="post">
          <input type="text"  name="{$field.attr_5}" value="" placeholder="{$field.itemname_5}" class="username form-control"/>
          <input type="text"  name="{$field.attr_6}" value="" placeholder="{$field.itemname_6}" class="telephone form-control"/>
          <textarea  name="{$field.attr_7}" value="" placeholder="您的问题或者需求~" rows="4"  class="content form-control"></textarea>
          <div class="btn-g cl"> <a class="post z">
            <button type="submit" class="post z" style="border:none;padding-top:7px;padding-left:25px;font-size:14px;outline:none;">提交您的需求</button>
            </a> <a href="tel:{eyou:global name='web_attr_1' /}" class="btn y">拨打客服电话</a> </div>
          {$field.hidden}
        </form>
        {/eyou:guestbookform}
        <p class="war">*同样的问题每个人侧重点不同，很难有标准的答案；请认真填写表单信息或直接在线联系，我们会给您最合适的答案！</p>
      </div>
    </div>
  </div>
</div>
