<div class="footer"> <a href="{eyou:global name='web_basehost' /}"> <i class="iconfont">&#xe6da;</i> <span>首页</span> </a> <a href="{eyou:type typeid='10'}{$field.typeurl}{/eyou:type}"> <i class="iconfont">&#xe696;</i> <span>服务</span> </a> <a href="{eyou:type typeid='5'}{$field.typeurl}{/eyou:type}"> <i class="iconfont">&#xe71b;</i> <span>案例</span> </a> <a href="{eyou:type typeid='11'}{$field.typeurl}{/eyou:type}"> <i class="iconfont">&#xe6bf;</i> <span>博客</span> </a> <a href="{eyou:type typeid='15'}{$field.typeurl}{/eyou:type}"> <i class="iconfont">&#xe6c7;</i> <span>知识</span> </a> </div>
<div class="tel-box"> <a href="tel:{eyou:global name='web_attr_1' /}"><i class="iconfont">&#xe6d6;</i></a> </div>
<div class="footer-hide"></div>
<div class="showmsg"></div>
<!-- 应用插件标签 start --> 
{eyou:weapp type='default' /} 
<!-- 应用插件标签 end -->