<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>{$eyou.field.seo_title}_{eyou:global name='web_name' /}</title>
<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_m' /}/skin/css/common.css" media="screen"/>
<script src="{eyou:global name='web_templets_m' /}/skin/js/jquery.min.js"></script>
<script>
function setScale() {
    if (window.top !== window) {
        return;
    }
    var pageScale = 1;

    var width = document.documentElement.clientWidth || 320;
    var height = document.documentElement.clientHeight || 486;

    if (width / height >= 320 / 486) {
        pageScale = height / 486;
    } else {
        pageScale = width / 320;
    }
    var content = 'width=320, initial-scale=' + pageScale + ', maximum-scale=' + pageScale + ', user-scalable=no';
    document.getElementById('viewport').setAttribute('content', content);
}
setScale();
</script>
<style>
#nb_icon_wrap {
	display: none !important;
}
</style>
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
</head>
<body  >
<link type="text/css" rel="stylesheet"  href="{eyou:global name='web_templets_m' /}/skin/css/swiper.min.css" />
<link rel='stylesheet' type='text/css'  href='{eyou:global name='web_templets_m' /}/skin/css/page.css'  />
<div class="page-header page-header-jianzhan" style="background-image: url({eyou:global name='web_templets_m' /}/skin/images//service.jpg);background-size: cover;">
  <div class="cover"></div>
  <div class="s">
    <h1>网站定制开发</h1>
    <div class="line"></div>
    <p>坚持“专业、专注、原创、效率”，高端定制开发网站</p>
  </div>
</div>
<div class="page-service">
  <div class="page-title">
    <div class="title">服务项目</div>
    <div class="title-line"></div>
    <div class="tips">只为实现每一次邂逅总能超越期待</div>
  </div>
  <div class="wp">
    <div class="s cl">
      <div class="swiper-container page-service-loop swiper-container-horizontal swiper-container-android">
        <div class="swiper-wrapper" style="transform: translate3d(-338px, 0px, 0px); transition-duration: 0ms;">
          <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 338px;">
            <div class="data"> <a href="javascript:">
              <div class="title">微信报名</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/wx-bm.png" width="45" height="45"></div>
              <p class="des">基于微信开放能力开发方便用户快速参与报名</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">微信投票</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/wx-tp.png" width="45" height="45"></div>
              <p class="des">基于微信开放能力限制微信投票刷票等行为，更易传播</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">微信O2O</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/wx-o2o.png" width="45" height="45"></div>
              <p class="des">基于微信支付、LBS、消息通知等开发能力开放本地化O2O平台</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">更多应用</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/all.png" width="45" height="45"></div>
              <p class="des">扫码购物、微订单等更多基于微信/小程序开放能力应用</p>
              </a> </div>
          </div>
          <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 338px;">
            <div class="data"> <a href="javascript:">
              <div class="title">微信官网</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/gw.png" width="45" height="45"></div>
              <p class="des">利用微信开发能力结合原生技术开发用于微信浏览的网站</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">小程序</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/xcx.png" width="45" height="45"></div>
              <p class="des">微信小程序免安装、易推广，拥有丰富组件及API能力</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">微信商城</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/shop.png" width="45" height="45"></div>
              <p class="des">基于微信支付、微信登录、LBS等能力的电子商务商城</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">微信活动</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/wx-action.png" width="45" height="45"></div>
              <p class="des">基于微信开放能力开发使用户更加便捷参与活动</p>
              </a> </div>
          </div>
          <div class="swiper-slide swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="1" style="width: 338px;">
            <div class="data"> <a href="javascript:">
              <div class="title">微信报名</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/wx-bm.png" width="45" height="45"></div>
              <p class="des">基于微信开放能力开发方便用户快速参与报名</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">微信投票</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/wx-tp.png"  width="45" height="45"></div>
              <p class="des">基于微信开放能力限制微信投票刷票等行为，更易传播</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">微信O2O</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/wx-o2o.png"  width="45" height="45"></div>
              <p class="des">基于微信支付、LBS、消息通知等开发能力开放本地化O2O平台</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">更多应用</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/all.png"  width="45" height="45"></div>
              <p class="des">扫码购物、微订单等更多基于微信/小程序开放能力应用</p>
              </a> </div>
          </div>
          <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 338px;">
            <div class="data"> <a href="javascript:">
              <div class="title">微信官网</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/gw.png" width="45" height="45"></div>
              <p class="des">利用微信开发能力结合原生技术开发用于微信浏览的网站</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">小程序</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/xcx.png" width="45" height="45"></div>
              <p class="des">微信小程序免安装、易推广，拥有丰富组件及API能力</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">微信商城</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/shop.png" width="45" height="45"></div>
              <p class="des">基于微信支付、微信登录、LBS等能力的电子商务商城</p>
              </a> </div>
            <div class="data"> <a href="javascript:">
              <div class="title">微信活动</div>
              <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/wx-action.png" width="45" height="45"></div>
              <p class="des">基于微信开放能力开发使用户更加便捷参与活动</p>
              </a> </div>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
      </div>
    </div>
  </div>
</div>
{eyou:include file='down.htm'/}
<div class="showmsg"></div>
{eyou:include file='footer.htm'/}
</body>
</html>