<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>{$eyou.field.seo_title}_{eyou:global name='web_name' /}</title>
<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_m' /}/skin/css/common.css" media="screen"/>
<script src="{eyou:global name='web_templets_m' /}/skin/js/jquery.min.js"></script>
<script>
function setScale() {
    if (window.top !== window) {
        return;
    }
    var pageScale = 1;

    var width = document.documentElement.clientWidth || 320;
    var height = document.documentElement.clientHeight || 486;

    if (width / height >= 320 / 486) {
        pageScale = height / 486;
    } else {
        pageScale = width / 320;
    }
    var content = 'width=320, initial-scale=' + pageScale + ', maximum-scale=' + pageScale + ', user-scalable=no';
    document.getElementById('viewport').setAttribute('content', content);
}
setScale();
</script>
<style>
#nb_icon_wrap {
	display: none !important;
}
</style>
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
</head>
<body  >
<link type="text/css" rel="stylesheet"  href="{eyou:global name='web_templets_m' /}/skin/css/swiper.min.css" />
<link rel='stylesheet' type='text/css'  href='{eyou:global name='web_templets_m' /}/skin/css/page.css'  />
<div class="page-header page-header-jianzhan" style="background-image: url({eyou:global name='web_templets_m' /}/skin/images//service.jpg);background-size: cover;">
  <div class="cover"></div>
  <div class="s">
    <h1>网站定制开发</h1>
    <div class="line"></div>
    <p>坚持“专业、专注、原创、效率”，高端定制开发网站</p>
  </div>
</div>
<div class="page-service">
  <div class="page-title">
    <div class="title">服务项目</div>
    <div class="title-line"></div>
    <div class="tips">只为实现每一次邂逅总能超越期待</div>
  </div>
  <div class="wp">
    <div class="s cl">
      <div class="data"> <a href="javascript:">
        <div class="title">手机网站</div>
        <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/gw.png" width="45" height="45"></div>
        <p class="des">可以在手机浏览器、微信、独立APP等各种环境浏览的网站</p>
        </a> </div>
      <div class="data"> <a href="javascript:">
        <div class="title">APP开发</div>
        <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/ios.png" width="45" height="45"></div>
        <p class="des">IOS和安卓两大主流平台的移动APP客户端开发</p>
        </a> </div>
      <div class="data"> <a href="javascript:">
        <div class="title">API开发</div>
        <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/gov.png" width="45" height="45"></div>
        <p class="des">APP、小程序及网站服务端开发，提供规范的API技术文档</p>
        </a> </div>
      <div class="data"> <a href="javascript:">
        <div class="title">H5单页</div>
        <div class="m"><img src="{eyou:global name='web_templets_m' /}/skin/images/h5.png" width="45" height="45"></div>
        <p class="des">提供活动、报名、招聘等形式的H5高逼格单页开发</p>
        </a> </div>
    </div>
  </div>
</div>
{eyou:include file='down.htm'/}
<div class="showmsg"></div>
{eyou:include file='footer.htm'/}
</body>
</html>