<!DOCTYPE html>

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-control" content="no-cache">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<title>{$eyou.field.seo_title}_{eyou:global name='web_name' /}</title>
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<meta name="description" content="{$eyou.field.seo_description|html_msubstr=###}" />
<link  href="{eyou:global name='web_templets_pc' /}/skin/css/common.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery.min.js"></script>
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
{eyou:include file='head.htm'/}
<div class="main">
  <link rel='stylesheet' type='text/css'  href='{eyou:global name='web_templets_pc' /}/skin/css/page.css'/>
  <div class="page-header page-header-jianzhan" style="background: url({eyou:global name='web_templets_pc' /}/skin/images/service.jpg) no-repeat center top;">
    <div class="s">
      <div class="wp">
        <div class="wps">
          <h1>{$eyou.field.typeid|gettoptype=###,'typename'}</h1>
          <div class="line"></div>
          <p>{$eyou.field.seo_description}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-service">
    <div class="page-title">
      <div class="title">{$eyou.field.typename}</div>
      <div class="title-line"></div>
      <div class="tips">{$eyou.field.seo_description}</div>
    </div>
    <div class="wp">
      <div class="s cl">
        <div class="data"> <a href="javascript:">
          <div class="title">手机网站</div>
          <div class="m"><img src="{eyou:global name='web_templets_pc' /}/skin/images/gw.png" width="45" height="45"></div>
          <p class="des">可以在手机浏览器、微信、独立APP等各种环境浏览的网站</p>
          </a> </div>
        <div class="data"> <a href="javascript:">
          <div class="title">APP开发</div>
          <div class="m"><img src="{eyou:global name='web_templets_pc' /}/skin/images/ios.png" width="45" height="45"></div>
          <p class="des">IOS和安卓两大主流平台的移动APP客户端开发</p>
          </a> </div>
        <div class="data"> <a href="javascript:">
          <div class="title">API开发</div>
          <div class="m"><img src="{eyou:global name='web_templets_pc' /}/skin/images/gov.png" width="45" height="45"></div>
          <p class="des">APP及网站服务端开发，提供规范的API技术文档</p>
          </a> </div>
        <div class="data"> <a href="javascript:">
          <div class="title">H5单页</div>
          <div class="m"><img src="{eyou:global name='web_templets_pc' /}/skin/images/h5.png" width="45" height="45"></div>
          <p class="des">提供活动、报名、招聘等形式的H5高逼格单页开发</p>
          </a> </div>
      </div>
    </div>
  </div>
  {eyou:include file='down.htm'/}
  <div class="showmsg"></div>
</div>
{eyou:include file='footer.htm'/}
</body>
</html>